<!DOCTYPE html>

<html>
<head>
    <title>Quản lý nhà sách</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
   
    <link rel="stylesheet" type="text/css" href="../../Content/style.css" />
    <!--[if IE 6]>
    <link rel="stylesheet" type="text/css" href="../../Content/iecss.css" />
    <![endif]-->
    <script type="text/javascript" src="../../Script/boxOver.js"></script>
</head>
<body>
    
    <div id="main_container">
        @RenderBody()
    </div>
    <!-- end of main_container -->
</body>
</html>
